@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-sans text-white;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}